@model IEnumerable<DoAnWatch.Models.Product>
    
@if (Model != null && Model.Any())
{
    

        <div class="best_sellers">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="section_title new_arrivals_title">
                            <h2>Sản Phẩm Hot Hòn Họt</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="product_slider_container">
                            <div class="owl-carousel owl-theme product_slider">

                                <!-- Slide 1 -->
                                @foreach (var item in Model)
                                {
                                    
                                    <div class="owl-item product_slider_item">
                                        <div class="product-item women">
                                            <div class="product">
                                                <div class="product_image">
                                                    <img src="@Url.Content("~/Content/img/" + item.Image)" style="height:250px" alt="">
                                                </div>
                                                <div class="favorite"></div>
                                                <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>Hot</span></div>
                                                <div class="product_info">
                                                    <h6 class="product_name"><a href="/products/detail/@item.Id">@item.Title</a></h6>
                                                    <div class="product_price">$@item.PriceSale</div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <!-- Slide 2 -->
                                <!-- Slide 3 -->

                            </div>

                            <!-- Slider Navigation -->

                            <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </div>
                            <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
}
