  <!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    


    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Xin Chào  @Session["Username"]

            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

                <button class="dropdown-item" type="button"> @Session["UserFullName"]</button>
                <a href="@Url.Action("Logout","Login", new { area = "" })" class="btn btn-danger">Đăng xuất</a>
            </div>
        </div>
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/admin/Orders/xem" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Đơn Hàng
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a href="/admin/BaoCaoDoanhThu/index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Thống Kê Doanh Thu
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>

            </li>


            <li class="nav-item menu-open">
                <a href="/admin" class="nav-link">
                    <i class="nav-icon fas fa-edit"></i>
                    <p>
                        Quản Lý Sản Phẩm
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/product" class="nav-link">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <p>Sản Phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/productcategory" class="nav-link">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <p>Danh Mục Sản Phẩm</p>
                        </a>
                    </li>
                   

                </ul>
            </li>

        </ul>

    </nav>








    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->